html,body{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  margin:0px;
  padding:0px;
  background-color: black;
  color: #37ff37 !important;
}
h1,h2,h3{
  text-align:center;
  color: #37ff37 !important;
}
article{
  width:100%;
  margin:0px;
  padding:0px;
  color: #37ff37 !important;
}
header{
  height:auto;
}
nav{
  left:0px;
  background-color:black;
}
nav > a{
  display: block;
  width: auto;
  text-decoration: none;
}
nav > a, nav > a:active, nav > a:visited{
  color: #37ff37 !important;
}
main{
  padding-left:500px;
}
