html,body{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  margin:0px;
  padding:0px;
  background-color: black;
  color: #37ff37;
}
h1,h2,h3{
  text-align:center;
}
article{
  width:100%;
  margin:0px;
  padding:0px;
}
nav{
  position:fixed;
  left:0px;
}
nav > a{
  display: block;
  width: auto;
  text-decoration: none;
}
